{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/2.JPG')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">Random mumblings about myself.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>To start with, I am Samuel Gyinae. Err How do people even write these biographies cos it seems kindda hard. Anyway, this is my blog website and em it is actually not about a thing because it could be about everything.</p>
        <p>Usually, this should be where I write about where I have been, where I am, what I do, schools I have attended and stuff but honestly no one really reads these stuff so yeah there you have it a bunch of random text about nothing</p>
        <p>Conclusively, we are all trying to find our selves and have some fun and try to be happy and and and it is just unending so stick with me. We are all we have!</p>
        <p><em>Regards</em></p>
        <p><em>Gyinae Samuel</em></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}